<!DOCTYPE html>
<html>
  <head>
    <title>OpenCourse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	
  <body>
		<div class="left-sidebar left hidden">
			<div class="logo">
			</div>
			
			<div class="courses">
				<a href="#"></a>
			</div>
			
			<div class="groups">
				<a href="#"></a>
			</div>
			
			<div class="analytics">
				<a href="#"></a>
			</div>
		</div>
		
		<div class="center-app left">
			<div class="inner-center">
				<%= yield %>
			</div>
		</div>
		
		<div class="right-app right">
			<div class="progress">
			</div>
			
			<div class="achievements">
			</div>
		</div>
  </body>
</html>
